body{
  font-family: Azeret Mono;
}
*{
  margin: 0;
}
/* first section style */
.banner-section{
  background-image: url('assets/Hero-bg.png');
  margin-bottom: 0;
}

.image-1{
  text-align: center;
  padding-top: 26px;
  margin-bottom: 0;
}
.first-section-div{
  margin-top: 131px;
  margin-bottom: 45px;
}

.headline{
  text-align: center;
  display: flex;
  justify-content: space-around;
flex-direction: column;
align-items: center;
gap: 32px;
align-self: stretch;
margin: 32px 221px 45px 221px;
}

.title{
  color: #0D1321;
text-align: center;
font-family: "Azeret Mono";
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 68px; /* 141.667% */
margin-top: 32px;
margin-bottom: 0;
}

.description{
  color: #0D1321;
text-align: center;
font-family: "Azeret Mono";
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 0;
margin-top: 24px;
}

.primary-button{
  display: flex;
padding: 21px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #0D1321;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 600;
cursor: pointer;
margin-bottom: 45px;
text-decoration: none;
}

/* second section style */
.second-div{
  margin: 74px 55px 80px 51px;
  border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
}

.internal-section{
  padding: 80px 97px;
  background: rgba(13, 19, 33, 0.02);
  text-align: center;
}
.develpment-title{
  color: #0D1321;
text-align: center;
font-size: 32px;
font-weight: 800;
}

.coding-div{
  display: flex;
  gap: 200px;
  padding: 48px;
  background-color: #FFFFFF;
  text-align: left;
  margin-bottom: 32px;
  margin-top: 48px;
}

.coding-1{
  width: 477px
}

.secondary-button{
  text-align: left;
  display: flex;
padding: 12px 20px;
justify-content: center;
align-items: center;
gap: 10px;
cursor: pointer;
margin-top: 32px;
color: #0D1321;
text-align: center;
font-size: 20px;
font-weight: 600;
opacity: 0.7;
}

.div-image{
  display: flex;
width: 274.169px;
height: 240px;
padding: 3.767px 13.664px 19.221px 0.941px;
align-items: center;

}

.code-title{
color: rgba(13, 19, 33, 0.70);
font-size: 24px;
font-weight: 700;
line-height: 36px; 
}

.code-description{
color: #0D1321;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
opacity: 0.7;
}

/* third section */
.Inspiration-section{
  margin: 90px 152px 151px 148px;
  background: #FFF;
  display: flex;
width: 1140px;
flex-direction: column;
align-items: center;
gap: 48px;
text-align: center;
}
.inspiration{
  text-align: center;
  width: 852px;
  height: 52px;
  margin-bottom: 48px;
  padding: 0 144px 48px 144px;
}

.video{
  padding: 32px;
  
}

.description2{
  color: #0D1321;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 852px;
margin: 0 auto;
margin-top: 24px;
}

.target-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}
.developer{
  display: flex;
  gap: 24px;
}

.web{
  /* display: flex; */
  text-align: left;
width: 364px;
padding: 40px;
/* flex-direction: column;
align-items: flex-start; */
gap: 32px;
border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
}

.web-share{
  color: #0D1321;
font-family: "Azeret Mono";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
opacity: 0.7;
}

.web-name{
  color: #0D1321;
font-size: 24px;
font-weight: 800;
line-height: 36px;
}

.target-section .anchor {
  margin-top: 24px;
}

#css{
  border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
}

#js{
  border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
}

/* support section */
.Inspiration-section{
  display: flex;
width: 1140px;
padding: 64px 48px;
flex-direction: column;
align-items: flex-start;
gap: 32px;
}


#support-section{

  margin: 74px 55px 80px 51px;
  border-radius: 16px;
  padding: 64px 48px;
  background-image: url('assets/handshake.jpg');
  background-size: cover;
}
.support-interior{
  padding: 64px 48px;
}
.button-container{
  display: flex;
  margin-top: 24px;
}

.primary-input{
width: 548px;
padding: 19px 20px;
/* align-items: center; */
gap: 10px;
border-radius: 8px;
margin-right: 16px;
border: 0;
background: #FFF;
font-family: "Azeret Mono";

}

.submit-button{
  display: flex;
width: 120px;
padding: 17px 20px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #FFF;
border: 0;
color: #0D1321;
text-align: center;
font-size: 20px;
font-weight: 600;
cursor: pointer;
}

/* footer section */
footer{
  display: flex;
  color: #0D1321;
text-align: center;
font-size: 20px;
font-weight: 600;
border-radius: 16px;
background: rgba(13, 19, 33, 0.03);
margin-top: 80px;
padding: 32px 150px;
justify-content: center;
}

.footer-column{
width: 50%;
}

.footer-column a {
  padding-right: 24px;
}